@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

@font-face {
    font-family: 'Kollektif';
    src: url('assets/fonts/Kollektif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif !important;
}
.navbar-brand{
  font-family:'Kollektif';
  font-size:25px !important;
  font-weight:500;
}
.navbar, .navigation, .navbar-collapse {
  background-color: black !important;
}

.navbar-toggler span {
  display: block;
  background-color: white;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

/**
 * Animate collapse into X.
 */
/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

/**
 * Animate collapse open into hamburger menu
 */
/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
  opacity: 1;
}

/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}

@media (max-width: 556px) and (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 54px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 100%;
  }

  .navbar-collapse.collapsing {
    height: 100%;
    left: -100%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    height: 100%;
    width: 100%;
    left: 0;
    transition: left 400ms ease-in-out;
  }

  .navbar-toggler.collapsed~.navbar-collapse {
    transition: left 400ms ease-in;
  }

  .nav-item {
    margin-top: 10px;
  }

  .nav-item .btn-warning {
    margin-top: 20px
  }
}

.nav-link {
  color: white !important;
}

.nav-item .btn-warning:hover {
  background: black;
  color: #ffc107 !important;
  border: 1px solid #ffc107;
}

.intro {
  background: white;
  height:300px;
}
/* media queries */
/* mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  h1{
    font-size:28px !important;
  }
  .tile-text{
    font-size: 16px;
    display:block;
  }
  .heading-for-tiles{
    font-size:28px !important;
    text-align: center;
    font-weight:500 !important;
  }
  .intro {
    height:400px;
  }
  .contact-cred{
    border: 1px solid #fafafa !important;
  }
  .contact-img{
    width:300px !important;
    height:300px !important;
  }
}
/* tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .intro {
    height:560px;
  }
  h1{
    font-size:28px !important;
  }
  .tile-text{
    font-size: 18px;
    display:block;
  }
  .heading-for-tiles{
    font-size:28px !important;
    text-align: center;
    font-weight:500 !important;
  }
  .contact-cred{
    border: 1px solid #fafafa !important;
  }
  .contact-img{
    width:300px !important;
    height:300px !important;
  }
}
/* pc */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .intro {
    height:560px;
  }
  h1{
    font-size:28px !important;
  }
  .tile-text{
    font-size: 18px;
    display:block;
  }
  .heading-for-tiles{
    font-size:25px !important;
    text-align: center;
    font-weight:500 !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .intro {
    height:300px;
  }
  h1{
    font-size:28px !important;
  }
  .tile-text{
    font-size: 18px;
    display:block;
  }
  .heading-for-tiles{
    font-size:28px !important;
    text-align: center;
    font-weight:500 !important;
  }
  .contact-cred{
    border:1px solid #fafafa !important;
  }
}
/* beyond pc */
@media only screen and (min-width: 1025px) {
  h1{
    font-size:45px !important;
  }
  .tile-text{
    font-size: 20px;
    display:block;
  }
  .heading-for-tiles{
    font-size:34px !important;
    text-align: center;
    font-weight:500 !important;
  }
  .intro {
    height:350px;
  }
  .contact-cred{
    border:1px solid #fafafa !important;
  }
  .contact-cred:hover{
    background: #fafafa;
  }
}
body {
  margin: 0;
}
footer{
  bottom: 0;
  background:black;
  color:white;
}
.foot-hr{
  color:gainsboro;
  border: 3px solid gainsboro !important;
}
footer .footer-list li{
  margin:10px !important;
}
.quotes{
  background:#fafafa;
}
.quote-banner{
  height: 320px;
}
.contact{
  background:#fafafa;
}
.contact-grid{
  background:white;
  color:black;
}
.contact-cred:hover{
  background: #fafafa;
}
.fa-fb:hover{
 color:#4267B2;
}
.fa-in:hover{
  color: #2867B2;
}
.fa-yt:hover{
  color:#FF0000;
}
.dropdown-menu:li {
    text-align: left;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
.dropdown-toggle:after {
  content:none !important;
}
